In [5]:
import pandas as pd
import numpy as np

In [89]:
train_raw = pd.read_csv('train.csv')
test_raw  = pd.read_csv('test.csv')

# test_raw.isnull().sum(), train_raw.isnull().sum()
train = train_raw
test = test_raw

In [70]:
train_raw

,Unnamed: 0,Species,Farm.Name,Lot.Number,Altitude,Number.of.Bags,Bag.Weight,Harvest.Year,Grading.Date,Variety,...,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,Category.One.Defects,Quakers,Color,Category.Two.Defects,Expiration,Country.of.Origin
0,0,Arabica,conquista / morito,NaN,NaN,250,1 kg,2012,"January 13th, 2012",Bourbon,...,10.0,7.00,78.33,0.11,0,0.0,Green,9,"January 12th, 2013",2
1,1,Arabica,NaN,NaN,de 1.600 a 1.950 msn,275,70 kg,Mayo a Julio,"July 29th, 2011",Caturra,...,10.0,8.17,83.08,0.01,0,0.0,NaN,0,"July 28th, 2012",1
2,2,Arabica,la esmeralda,11/23/0634,4000,25,69 kg,2017,"September 8th, 2017",Bourbon,...,10.0,7.50,82.58,0.10,0,1.0,Green,2,"September 8th, 2018",2
3,3,Arabica,fazenda santo antonio,NaN,900-1100,305,2 kg,2014,"February 13th, 2015",Catuai,...,10.0,7.58,83.00,0.00,0,0.0,Green,0,"February 13th, 2016",0
4,4,Arabica,NaN,NaN,NaN,1,5 lbs,2013,"September 12th, 2014",NaN,...,10.0,7.25,82.08,0.11,1,0.0,Green,0,"September 12th, 2015",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580,580,Arabica,NaN,NaN,1800,275,2 kg,2015/2016,"June 5th, 2015",Other,...,10.0,7.83,84.25,0.12,0,0.0,Green,0,"June 4th, 2016",1
581,581,Arabica,cafetal,101,1300,200,69 kg,2017,"July 3rd, 2017",Mundo Novo,...,10.0,7.83,83.92,0.11,0,0.0,Green,5,"July 3rd, 2018",3
582,582,Arabica,las lomas,NaN,1200,250,1 kg,2012,"July 11th, 2012",Bourbon,...,10.0,7.67,83.00,0.11,5,0.0,Green,8,"July 11th, 2013",3
583,583,Arabica,NaN,NaN,1800 msnm,250,70 kg,4T/10,"February 9th, 2011",NaN,...,10.0,7.42,82.17,0.08,0,0.0,NaN,0,"February 9th, 2012",1
584,584,Arabica,NaN,NaN,de 1600 a 1950 msnm,138,70 kg,2014,"April 8th, 2014",Caturra,...,10.0,8.33,84.00,0.12,0,0.0,Green,3,"April 8th, 2015",1

### Drop Columns

In [60]:
train_raw.columns

Index(['Unnamed: 0', 'Species', 'Farm.Name', 'Lot.Number', 'Altitude',
       'Number.of.Bags', 'Bag.Weight', 'Harvest.Year', 'Grading.Date',
       'Variety', 'Processing.Method', 'Aroma', 'Flavor', 'Aftertaste',
       'Acidity', 'Body', 'Balance', 'Uniformity', 'Clean.Cup', 'Sweetness',
       'Cupper.Points', 'Total.Cup.Points', 'Moisture', 'Category.One.Defects',
       'Quakers', 'Color', 'Category.Two.Defects', 'Expiration',
       'Country.of.Origin'],
      dtype='object')

In [11]:
drop_cols = ['Farm.Name','Lot.Number','Harvest.Year','Variety','Processing.Method','Color','Quakers']    #null ,'Altitude' 
drop_cols += ['Species', 'Number.of.Bags','Bag.Weight','Grading.Date','Expiration','Unnamed: 0']     # meaningless

train_drop = train_raw.drop(columns=drop_cols)
test_drop = test_raw.drop(columns=drop_cols)

In [61]:
# train.isna().sum(), test.isna().sum()
train_drop.isna().sum().to_numpy().all(),test_drop.isna().sum().to_numpy().all()

(False, False)

ValueError: could not convert string to float: 'Arabica'

### Preprocessing

In [62]:
train_raw

,Unnamed: 0,Species,Farm.Name,Lot.Number,Altitude,Number.of.Bags,Bag.Weight,Harvest.Year,Grading.Date,Variety,...,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,Category.One.Defects,Quakers,Color,Category.Two.Defects,Expiration,Country.of.Origin
0,0,Arabica,conquista / morito,NaN,NaN,250,1 kg,2012,"January 13th, 2012",Bourbon,...,10.0,7.00,78.33,0.11,0,0.0,Green,9,"January 12th, 2013",2
1,1,Arabica,NaN,NaN,de 1.600 a 1.950 msn,275,70 kg,Mayo a Julio,"July 29th, 2011",Caturra,...,10.0,8.17,83.08,0.01,0,0.0,NaN,0,"July 28th, 2012",1
2,2,Arabica,la esmeralda,11/23/0634,4000,25,69 kg,2017,"September 8th, 2017",Bourbon,...,10.0,7.50,82.58,0.10,0,1.0,Green,2,"September 8th, 2018",2
3,3,Arabica,fazenda santo antonio,NaN,900-1100,305,2 kg,2014,"February 13th, 2015",Catuai,...,10.0,7.58,83.00,0.00,0,0.0,Green,0,"February 13th, 2016",0
4,4,Arabica,NaN,NaN,NaN,1,5 lbs,2013,"September 12th, 2014",NaN,...,10.0,7.25,82.08,0.11,1,0.0,Green,0,"September 12th, 2015",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580,580,Arabica,NaN,NaN,1800,275,2 kg,2015/2016,"June 5th, 2015",Other,...,10.0,7.83,84.25,0.12,0,0.0,Green,0,"June 4th, 2016",1
581,581,Arabica,cafetal,101,1300,200,69 kg,2017,"July 3rd, 2017",Mundo Novo,...,10.0,7.83,83.92,0.11,0,0.0,Green,5,"July 3rd, 2018",3
582,582,Arabica,las lomas,NaN,1200,250,1 kg,2012,"July 11th, 2012",Bourbon,...,10.0,7.67,83.00,0.11,5,0.0,Green,8,"July 11th, 2013",3
583,583,Arabica,NaN,NaN,1800 msnm,250,70 kg,4T/10,"February 9th, 2011",NaN,...,10.0,7.42,82.17,0.08,0,0.0,NaN,0,"February 9th, 2012",1
584,584,Arabica,NaN,NaN,de 1600 a 1950 msnm,138,70 kg,2014,"April 8th, 2014",Caturra,...,10.0,8.33,84.00,0.12,0,0.0,Green,3,"April 8th, 2015",1

#### Altitude

In [88]:
import re

altitudes = train_raw['Altitude'].to_numpy()


def preprocess_altitudes(altitudes):
    lst = []
    for altitude in altitudes:
        altitude = str(altitude)
        if altitude == 'nan' : lst.append(0)
        else:
        # Remove alphabets and special characters
            cleaned_altitude = re.sub(r'[^0-9\-]+', '', altitude)
            
            # Handle ranges
            if '-' in cleaned_altitude:
                start, end = map(int, cleaned_altitude.split('-'))
                average = (start + end) / 2
                lst.append(average)

            elif len(cleaned_altitude)>=7:
                start, end = int(cleaned_altitude)/10000, int(cleaned_altitude)%10000
                average = (start + end) / 2
                lst.append(average)

            else:
                try:
                    lst.append(int(cleaned_altitude))
                except:
                    lst.append(0)
        
    return lst

preprocessed_altitudes = preprocess_altitudes(altitudes)
print(preprocessed_altitudes)

[0, 1775.0974999999999, 4000, 1000.0, 0, 1750, 4300, 12, 1300, 1750, 1700, 1400, 1750, 774, 442, 905, 890, 4000, 442, 1300, 1775.0974999999999, 1400, 1261, 1100, 1, 1100, 995, 1200, 1600, 1350, 1000, 0, 3280, 1500, 1500, 4540, 0, 1000, 1800, 0, 0, 0, 1550, 1750, 1100, 1450.0, 0, 1775.0974999999999, 1800, 1600, 1, 1775.0974999999999, 1500, 0, 1750, 0, 439, 890, 1200, 1300, 1700, 982, 695, 1450, 1483, 0, 1100, 1170, 1800, 1000, 0, 1750, 700, 1901, 4000, 950, 1000, 5000, 1100, 1200, 1400, 1000, 1800, 4300, 1700, 900, 1700, 950, 1200, 905, 0, 1250, 1750, 1200, 1100, 1100, 0, 1250, 1450, 1650, 1210, 5000, 1600, 1775.0974999999999, 1750.095, 1550, 4000, 1000, 4300, 1550, 1100, 1400, 4000, 1300, 940, 1400, 1350, 1550.0900000000001, 900, 1770, 1400.0, 442, 0, 0, 1250, 4300, 1775.0974999999999, 1300, 1150, 0, 1400, 0, 1800, 1600, 0, 1250, 1400.075, 1750, 940, 1775.0974999999999, 3850.295, 1250, 0, 1500, 442, 4000, 1500, 5000, 1450, 1300, 1800, 3607, 1150, 4000, 0, 1750, 4300, 1250, 2527, 4300, 4000, 1450, 1000, 1700.0, 0, 1600, 1550, 1300, 890, 1400, 0, 4000, 1700, 4500, 1200, 1260, 4451, 1750, 0, 850, 1880, 750, 1100, 1700, 518, 1300, 1500, 0, 4650, 1200, 934, 0, 1800, 1000, 1480, 1100, 1550, 1100, 1050, 5000, 1380, 100, 0, 0, 1750, 1750, 1200, 1264, 442, 925.0, 1250, 1250, 1200, 934, 890, 1750, 1300, 934, 890, 1400, 1775.0974999999999, 1400, 1400, 1050, 1775.0974999999999, 4000, 4650, 1100, 4300, 1400, 1200, 1775.0974999999999, 1500, 4600, 905, 1500, 1550, 1625.0, 1600, 890, 1218, 4350.0, 1750, 1750, 1550, 1100, 1650, 1250, 1550, 900, 4300, 890, 1059, 1550, 1450, 934, 872, 973, 1100, 4300, 4000, 1300, 1100, 1550, 1775.0974999999999, 1550, 1250, 1800, 4000, 1248, 800, 1700.0, 12, 0, 1800, 1038.5, 1300, 1850, 0, 1800, 4300, 1250, 1250, 1400, 1650, 1550, 1400, 1500, 5600.0, 0, 763, 1500, 4350.0, 4300, 1775.0, 894, 1350, 518, 5000, 1200, 1775.0974999999999, 1380, 4300, 1775.0974999999999, 1296, 1250, 1750, 1700, 1300, 1550, 1650, 190164, 4000, 1200, 1400, 1200, 0, 1300, 0, 1500, 1, 4000, 1600, 1400, 1775.0974999999999, 4000, 1050.0, 1450.0, 0, 1450, 1100, 4300, 1100, 940, 0, 0, 1650.0, 4000, 0, 1260, 1775.0974999999999, 900, 1100, 1200, 1700, 1500, 950, 1250, 1500, 0, 4300, 1170, 0, 442, 1200, 1100, 1100, 1400, 1200.0, 1300, 4300, 4300, 5000, 950, 1600, 890, 4300, 1550, 1550, 1130, 1250, 1600.0, 533, 1450, 1550, 0, 1750, 4300, 1900.0, 1100, 1200, 1000, 890, 1000, 1, 0, 1260, 1300, 1625.0, 1500, 1227, 1500, 1700, 1300, 4000, 1700, 4300, 1, 1, 4563, 750, 890, 441, 1200, 1186, 1700.0, 12, 1500, 4300, 1400, 1750, 0, 1650, 1775.0974999999999, 1800, 0, 1775.0974999999999, 532, 1250, 1170, 1089, 1250, 1200, 1450, 1550.0900000000001, 0, 4500, 11000, 1400, 442, 1500, 4300, 940, 1100, 975.0, 1260, 1140, 1600, 1500, 1400, 1100, 0, 1500, 1530, 900, 1600, 4500, 4300, 1100, 0, 1300, 1100, 850, 1480, 1901, 4600, 0, 981, 1642, 1550, 0, 0, 1300, 1250, 175, 1300, 1320, 1250, 0, 4000, 1800, 1300.0700000000002, 1400, 1100, 1000, 1100, 1550.0, 0, 4000, 4300, 1775.0974999999999, 1170, 5600.0, 1100, 1268, 6100, 5750.0, 1300, 1700, 1425.0, 1250, 1100, 125, 1050.0, 1250, 0, 5000, 4000, 1300, 1813, 1200, 0, 0, 4000, 1880, 690, 1901, 0, 1200, 1000, 1550, 0, 5750.0, 4300, 890, 1200, 0, 0, 1300, 950, 3664, 2100, 1550, 1600, 0, 1775.0974999999999, 1600, 442, 0, 1100, 1150, 1000, 5680.0, 1300, 0, 1750, 1750, 1799, 0, 1200, 1250, 1500, 190164, 1799, 1100, 1100, 4300, 1500, 1250, 4300, 4000, 0, 1775.0974999999999, 0, 0, 2136, 5000, 1300, 1550, 1450.0, 1450, 0, 1338, 1700, 1750, 4000, 4000, 442, 1550, 4000, 1260, 1038.5, 1550.0900000000001, 1100, 1000, 518, 1200, 0, 2560, 0, 1800, 1300, 1200, 1800, 1775.0974999999999]

2235.3553034188035

In [92]:
mean_val = np.mean(preprocessed_altitudes)
preprocessed_altitudes = [val if val != 0 else mean_val for val in preprocessed_altitudes]

# 변환된 리스트를 DataFrame에 할당
train['Altitude'] = preprocessed_altitudes

# DataFrame 출력
train

,Unnamed: 0,Species,Farm.Name,Lot.Number,Altitude,Number.of.Bags,Bag.Weight,Harvest.Year,Grading.Date,Variety,...,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,Category.One.Defects,Quakers,Color,Category.Two.Defects,Expiration,Country.of.Origin
0,0,Arabica,conquista / morito,NaN,2235.355303,250,1 kg,2012,"January 13th, 2012",Bourbon,...,10.0,7.00,78.33,0.11,0,0.0,Green,9,"January 12th, 2013",2
1,1,Arabica,NaN,NaN,1775.097500,275,70 kg,Mayo a Julio,"July 29th, 2011",Caturra,...,10.0,8.17,83.08,0.01,0,0.0,NaN,0,"July 28th, 2012",1
2,2,Arabica,la esmeralda,11/23/0634,4000.000000,25,69 kg,2017,"September 8th, 2017",Bourbon,...,10.0,7.50,82.58,0.10,0,1.0,Green,2,"September 8th, 2018",2
3,3,Arabica,fazenda santo antonio,NaN,1000.000000,305,2 kg,2014,"February 13th, 2015",Catuai,...,10.0,7.58,83.00,0.00,0,0.0,Green,0,"February 13th, 2016",0
4,4,Arabica,NaN,NaN,2235.355303,1,5 lbs,2013,"September 12th, 2014",NaN,...,10.0,7.25,82.08,0.11,1,0.0,Green,0,"September 12th, 2015",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580,580,Arabica,NaN,NaN,1800.000000,275,2 kg,2015/2016,"June 5th, 2015",Other,...,10.0,7.83,84.25,0.12,0,0.0,Green,0,"June 4th, 2016",1
581,581,Arabica,cafetal,101,1300.000000,200,69 kg,2017,"July 3rd, 2017",Mundo Novo,...,10.0,7.83,83.92,0.11,0,0.0,Green,5,"July 3rd, 2018",3
582,582,Arabica,las lomas,NaN,1200.000000,250,1 kg,2012,"July 11th, 2012",Bourbon,...,10.0,7.67,83.00,0.11,5,0.0,Green,8,"July 11th, 2013",3
583,583,Arabica,NaN,NaN,1800.000000,250,70 kg,4T/10,"February 9th, 2011",NaN,...,10.0,7.42,82.17,0.08,0,0.0,NaN,0,"February 9th, 2012",1
584,584,Arabica,NaN,NaN,1775.097500,138,70 kg,2014,"April 8th, 2014",Caturra,...,10.0,8.33,84.00,0.12,0,0.0,Green,3,"April 8th, 2015",1

In [ ]:
altitudes = train_drop['Altitude']
list(altitudes)

['4000',
 '900-1100',
 '1750',
 '4300',
 '1750 msnm',
 '1700m',
 '1400 m',
 '1750 msnm',
 '442 msnm',
 '905',
 '890',
 '4000 psn',
 '1300',
 'de 1600 a 1950 msnm',
 '1261',
 '1100',
 '1',
 '1100m',
 '995',
 '1200',
 '3280',
 '1500',
 '4540 metros',
 '1000',
 '1550',
 '1750 m.s.n.m',
 '1100',
 'de 1600 a 1950 msnm',
 '1800',
 '1600',
 '1',
 'de 1600 a 1950 msnm',
 '1500',
 '1750',
 '439',
 '890',
 '1200',
 '1300',
 '1700',
 '982',
 '695',
 '1450',
 '1483',
 '1100',
 '1170',
 '1800 mts',
 '1000',
 '1750 msnm',
 '1901',
 '4000 p.s.n.m',
 '5000 ft.',
 '1100',
 '1200',
 '1000m',
 '4300',
 '1700 msnm',
 '900',
 '1700',
 '950m',
 '905',
 '1250m',
 '1750 msnm',
 '1200',
 '1100',
 '1100',
 '1450',
 '1210',
 '5000',
 'de 1600 a 1950 msnm',
 '4000 psnm',
 '1000',
 '4300',
 '1550 msnm',
 '1100',
 '1400',
 '4000 psnm',
 '940',
 '1400',
 '1300 a 1800 metros sobre el nivel del mar',
 '900',
 '1770',
 '1250',
 '4300',
 'de 1.600 a 1.950 msnm',
 '1300 meters',
 '1150',
 '1600',
 '1250',
 '1300 to 1500 meters',
 '1750 msnm',
 '940',
 '1500 msnm',
 '442',
 '4000 p.s.n.m.',
 '1500',
 '5000',
 '1450',
 '1300',
 '3607',
 '4000 psnm',
 '1750 msnm',
 '4300',
 '1250',
 '2527',
 '4300',
 '4000 p.s.n.m.',
 '1450',
 '1000m',
 '1550',
 '1300',
 '890',
 '1400',
 '4000',
 '1700',
 '4500',
 '1260',
 '4451 metros',
 '1750 msnm',
 '850',
 '750',
 '1100',
 '1700',
 '518',
 '1300m',
 '1500 msnm',
 '4650',
 '934',
 '1800',
 '1000',
 '1100m',
 '1050',
 '5000',
 '100',
 '1750 msnm',
 '1750 msnm',
 '1200',
 '442 msnm',
 '1250',
 '1250',
 '934',
 '890',
 '1750 msnm',
 '934',
 '890',
 'de 1.600 a 1.950 msnm',
 '1400 mts',
 '1050',
 'de 1600 a 1950 msnm',
 '4000 p.s.n.m',
 '4650',
 '1100',
 '4300',
 '1200',
 'de 1600 a 1950 msnm',
 '1500',
 '4600 ft.',
 '905',
 '1500 msnm',
 '1550',
 '1500-1750 msnm',
 '1600',
 '890',
 '1218',
 '1750 msnm',
 '1750 msnm',
 '1550',
 '1100',
 '1.250 m',
 '1550 meter',
 '4300',
 '890',
 '1059',
 '1550 msnm',
 '934',
 '872',
 '973',
 '1100',
 '4300',
 '4000 p.s.n.m.',
 '1300',
 '1550',
 'de 1600 a 1950 msnm',
 '1550',
 '1250',
 '1800',
 '4000psn',
 '1248',
 '800',
 '1800 msnm',
 '894m - 1183m',
 '1300',
 '1850 msnm',
 '1800',
 '4300',
 '1250m',
 '1400',
 '1650',
 '1550',
 '1400',
 '1500 msnm',
 '5440 - 5760 metros',
 '1500msnm',
 '4300',
 '1600 - 1950 msnm',
 '894',
 '1350',
 '518',
 '5000 pies',
 'de 1600 a 1950 msnm',
 '4300',
 'de 1600 a 1950 msnm',
 '1296',
 '1250',
 '1700',
 '1550',
 '1901.64',
 '4000',
 '1200',
 '1400',
 '1200',
 '1500',
 '1',
 '4000',
 '1400',
 'de 1.600 a 1.950 msnm',
 '4000',
 '1450',
 '1100',
 '4300',
 '1100',
 '940',
 '1400-1900 psn',
 '4000 psnm',
 '1260',
 'de 1600 a 1950 msnm',
 '900',
 '1100',
 '1200',
 '1700',
 '950m',
 '1250',
 '1500',
 '4300',
 '1170',
 '442 msnm',
 '1200',
 '1100',
 '1100',
 '900-1500m',
 '1300',
 '4300',
 '4300',
 '5000',
 '950m',
 '890',
 '4300',
 '1550',
 '1550 mts.',
 '1250',
 '1450',
 '1550',
 '1750 msnm',
 '4300',
 '1800 - 2000',
 '1100',
 '1200',
 '1000m',
 '890',
 '1000',
 '1',
 '1260',
 '1300',
 '1227',
 '1500',
 '1700',
 '1300',
 '4000 psnm',
 '1700',
 '4300',
 '1',
 '1',
 '4563',
 '750',
 '890',
 '1200',
 '1186',
 '12oo',
 '1500',
 '4300',
 '1400',
 '1750',
 'de 1600 a 1950 msnm',
 '1800',
 'de 1600 a 1950 msnm',
 '1170',
 '1250 m',
 '1450',
 '1300 a 1800 metros sobre el nivel del mar',
 '4500 pies',
 '11000 metros',
 '1400',
 '1500',
 '4300',
 '940',
 '1100',
 '1260',
 '1140',
 '1600 meters',
 '1400',
 '1500msnm',
 '1530',
 '1600',
 '4500',
 '4300',
 '1100',
 '1300',
 '1100',
 '850',
 '1480',
 '1901',
 '4600 ft.',
 '1642',
 '1550',
 '1300',
 '1250',
 '175',
 '1300',
 '1320',
 '1250',
 '4000 psnm',
 '1200 a 1400',
 '1400',
 '1100m',
 '1000 m',
 '1100',
 '1500-1600',
 '4000 p.s.n.m.',
 '4300',
 '1170',
 '5440-5760 metros',
 '1100',
 '1268',
 '6100 metros',
 '5500-6000 psnm',
 '1300 mts',
 '1700',
 '1350-1500',
 '1.250 m',
 '1.25',
 '1250m',
 '5000 ft.',
 '4000',
 '1300',
 '1813',
 '1200m',
 '4000psn',
 '1901',
 '1200',
 '1000 msnm',
 '5500-6000 psnm',
 '4300',
 '890',
 '1200',
 '1300',
 '950',
 '3664',
 '2100',
 '1550',
 '1600',
 '442',
 '1100',
 '1150',
 '1000m',
 '5600-5760 metros',
 '1300',
 '1750 msnm',
 '1799',
 '1200',
 '1250',
 '190164',
 '1799',
 '1100',
 '4300',
 '1500 msnm',
 '1250',
 '4300',
 '4000',
 'de 1.600 a 1950 msnm',
 '2136 msnm',
 '5000 ft.',
 '1300',
 '1550',
 '1450 msnm',
 '1338',
 '1700',
 '1750 msnm',
 '4000',
 '4000',
 '442',
 '1550',
 '4000 psnm',
 '1260',
 '894m - 1183m',
 '1300 a 1800 mtrs. a nivel del mar',
 '1000',
 '518',
 '1200',
 '1800',
 '1300',
 '1200',
 'de 1600 a 1950 msnm']

In [ ]:
train_drop['Altitude']

2                     4000
3                 900-1100
5                     1750
6                     4300
9                1750 msnm
              ...
576                   1200
580                   1800
581                   1300
582                   1200
584    de 1600 a 1950 msnm
Name: Altitude, Length: 411, dtype: object

#### heatmap