In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.width', 1000)

In [ ]:
# UserID::Gender::Age::Occupation::Zip-code
# MovieID::Title::Genres
# UserID::MovieID::Rating::Timestamp

In [10]:
def read_data():
    user = pd.read_csv('ml-1m/users.dat',
                       delimiter='::',
                       engine='python',
                       header=None,
                       names='UserID::Gender::Age::Occupation::Zip-code'.split('::'))
    movie = pd.read_csv('ml-1m/movies.dat',
                        delimiter='::',
                        engine='python',
                        header=None,
                        encoding='latin1',
                        names='MovieID::Title::Genres'.split('::'))

    rating = pd.read_csv('ml-1m/ratings.dat',
                         delimiter='::',
                         engine='python',
                         header=None,
                         encoding='latin1',
                         names='UserID::MovieID::Rating::Timestamp'.split('::'))

    df = pd.merge(pd.merge(user, rating), movie)
    # print(df)

    # print(user)
    # print('='*50)
    # print(movie)
    # print('='*50)
    # print(rating)

    return df

In [87]:
def show_pivot():
    df = read_data()
    # print(df)

    # p1 = df.pivot_table(values='Rating', index='Gender')
    # print(p1, end='\n\n')


    # # 성별, 연령대별 평점을 보여주세요
    # p2 = df.pivot_table(values='Rating', index='Age',columns='Gender')
    # print(p2, end='\n\n')

    # 아래 데이터프레임에서 25살 남성의 평점을 알려주세요 (2가지)
    # p3 = df.pivot_table(values='Rating', index=['Age','Gender'])
    # print(p3, end='\n\n')

    # print(p3.iloc[5].values)
    # print(p3.loc[25].iloc[1].values)
    # print(p3.loc[25].loc['M'].values)
    # print(p3.loc[25, 'M'].values, end='\n\n')

    #Age가 1. 18인 행만 출력
    # print(p3.loc[[1,18]].values, end='\n\n')
    # print(p3.loc[[1,18]].loc[:,'Rating'].values, end='\n\n')


    # print(p3.unstack(), end='\n\n')
    # print(p3.unstack().stack(), end='\n\n')

    # p4 = df.pivot_table(values='Rating', index='Age', columns='Gender',
    #                     aggfunc=[np.mean, np.sum])
    # print(p4, end='\n\n')

    by_title = df.groupby('Title').size()
    # print(by_title, end='\n\n')


    #rating 500에 해당하는 영화가 by_title의 몇번째 행인지 찾아서 출력
    rating_500 = by_title[by_title >= 500]
    # print(rating_500, end='\n\n')

    rating_by_title = df.pivot_table(values='Rating', index='Title', columns='Gender')
    print(rating_by_title, end='\n\n')
    print(rating_500.index, end='\n\n')
    print(rating_500.index.values(), end='\n\n')

    

show_pivot()

Gender                                             F         M
Title
$1,000,000 Duck (1971)                      3.375000  2.761905
'Night Mother (1986)                        3.388889  3.352941
'Til There Was You (1997)                   2.675676  2.733333
'burbs, The (1989)                          2.793478  2.962085
...And Justice for All (1979)               3.828571  3.689024
...                                              ...       ...
Zed & Two Noughts, A (1985)                 3.500000  3.380952
Zero Effect (1998)                          3.864407  3.723140
Zero Kelvin (Kjærlighetens kjøtere) (1995)       NaN  3.500000
Zeus and Roxanne (1997)                     2.777778  2.357143
eXistenZ (1999)                             3.098592  3.289086

[3706 rows x 2 columns]

Index(['10 Things I Hate About You (1999)', '101 Dalmatians (1961)', '12 Angry Men (1957)', '13th Warrior, The (1999)', '20,000 Leagues Under the Sea (1954)', '2001: A Space Odyssey (1968)', '28 Days (2000)', 'Abyss, The (1989)', 'Ace Ventura: Pet Detective (1994)', 'Addams Family, The (1991)',
       ...
       'Witness (1985)', 'Wizard of Oz, The (1939)', 'Working Girl (1988)', 'World Is Not Enough, The (1999)', 'Wrong Trousers, The (1993)', 'X-Files: Fight the Future, The (1998)', 'X-Men (2000)', 'You've Got Mail (1998)', 'Young Frankenstein (1974)', 'Young Guns (1988)'], dtype='object', name='Title', length=618)

TypeError: 'numpy.ndarray' object is not callable